body {
  background-color: rgb(204, 230, 197);
  font-size: 25px;
}

.totoro {
  height: 35vh;
  width: auto;
  border-radius: 5px;
}

* {
  font-family: sans-serif;
}

.submit {
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(209, 160, 100);
  font-weight: bold;
  margin: auto;
}

.submit a:hover {
  background-color: #FFF;
  transform: scale(1.5);
}

.entireform {
  margin: auto;
}
  

