body {
  background-color: rgb(204, 230, 197);
  font-size: 25px;
  margin: auto;
  padding: 20px;
}

p {
  text-align: center;
}

.totoro {
  height: 35vh;
  width: auto;
  border-radius: 5px;
}

* {
  font-family: sans-serif;
}

.submit {
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(242, 174, 180);
  font-weight: bold;
  padding-top: 10px;
  margin: auto;
    a:hover {
      background-color: #FFF;
      transform: scale(1.5);
    }
  }

.entireform {
  margin: auto;
}

select {
  padding: 5px;
  font-size: 25px;
  font-family: sans-serif;
}
  
.mood {
  padding-top: 10px;
}
  
