body {
  background-color: rgb(204, 230, 197);
  font-size: 25px;
  margin: auto;
  padding: 20px;
}

.totoro {
  height: 35vh;
  width: auto;
  border-radius: 5px;
}

* {
  font-family: sans-serif;
}

.submit {
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(209, 160, 100);
  font-weight: bold;
  margin-top: 10px;
    a:hover {
      background-color: #FFF;
      transform: scale(1.5);
    }
  }

.entireform {
  margin: auto;
}

select {
  padding: 5px;
  font-size: 25px;
  font-family: sans-serif;
}
  

